<div class="poems">
  {{#each poems}}
    <div class="poem_card">
      <h2>{{this.title}}</h2>
      <p>{{this.text}}</p>
      <p>- {{this.user.name}}</p>
       <p>
        <a href="/delete/{{this._id}}" class="btn btn-danger">Delete</a>
      </p>
    </div>
  {{/each}}
</div>