{{#if errors}}
{{#each errors}}
<div class="alert alert-danger" role="alert">
Error! {{this.msg}}
</div>

{{/each}}

{{/if}}
<div class="form_backdrop">
  <form class="signin form" method="POST" action="/login">
  <h2>Welcome back!</h2>
    <div class="form-group">
      
      <input type="text" class="form-control" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      
      <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>