  <div class="form_backdrop">
  {{#if errors}}
  {{#each errors}}
  <div class="alert alert-danger" role="alert">
  Error! {{this.msg}}
  </div>

  {{/each}}

  {{/if}}

  <form class="signup form" method="POST">
    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" name="first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" name="last_name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
      <label for="password_confirm">Confirm Password</label>
      <input type="password" class="form-control" name="password_confirm">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
