$navy: #1a222e;
$cream: #e9eaeb;
$red: #fe5a50;

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: $cream;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #00b7ff;
}

h1 {
  font-style: italic;
  text-shadow: 1px 2px 0 $red;
  font-weight: 700;
}

.breaker {
  height: 20rem;
}

nav {
  background-color: $navy;

  .container {
    display: flex;
    color: $cream;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 90%;
    margin: 0 auto;

    .hamburger {
      display: none;
    }
  }
}

h4 {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  li {
    display: inline-block;
    padding: 0 0.5rem;
  }

  .login {
    display: inline-block;
    background-color: $red;
    color: #e9eaeb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0);
  }
}

.hero {
  background-color: $navy;
  color: $cream;
  padding: 4rem;
  padding-bottom: 8rem;

  .flex-wrap {
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;

    .text {
      flex: 1;
      padding-right: 8px;
    }

    .skull {
      img {
        width: 280px;
        border-radius: 10%;
        animation: float 6s ease infinite;
      }

      @media all and (max-width: 960px) {
        img {
          width: 180px;
          margin: 0 auto;
        }
      }
      @media all and (max-width: 740px) {
        img {
          animation: none;
        }
      }
    }
  }

  @media all and (max-width: 760px) {
    .flex-wrap {
      flex-direction: column;
    }

    .skull {
      padding-top: 3rem;
      text-align: right;
    }
  }
}
.poems {
  position: relative;
  top: -80px;
}
.poem_card {
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem;
  background-color: #fff;
}
