$navy: #1a222e;
$cream: #e9eaeb;
$red: #fe5a50;
$font-stack: 'Raleway', sans-serif;

%card {
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem auto;
  background-color: #fff;
  width: 70vw;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  background-color: $cream;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #00b7ff;
}

h1 {
  font-style: italic;
  text-shadow: 1px 2px 0 $red;
  font-weight: 700;
  font-size: 3rem;
}

@media all and (max-width: 1100px) {
  h1 {
    font-size: 2rem;
  }
}

.breaker {
  height: 20rem;
}

nav {
  background-color: $navy;

  .container {
    display: flex;
    color: $cream;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 90%;
    margin: 0 auto;

    a {
      color: white;
      text-decoration: none;
    }

    .hamburger {
      display: none;
      justify-self: flex-end;
      font-size: 1.3rem;
    }

    @media all and (max-width: 760px) {
      .hamburger {
        display: block;
      }

      .menu {
        display: none;
      }
    }
  }
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: salmon;
  pointer-events: all;
  z-index: 5;
  transform: translateX(100%);
  transition: transform 0.4s ease;

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2rem;

    a {
      display: block;
      text-align: center;
      color: $cream;
      font-weight: 700;
      font-size: 2rem;
      padding: 0.5rem;
      text-decoration: none;

      &:hover {
        background-color: #e24d45;
      }
    }
  }

  &.open {
    transform: translateX(0);
  }
}

h4 {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  li {
    display: inline-block;
    padding: 0 0.5rem;
  }

  .login {
    display: inline-block;
    background-color: $red;
    color: #e9eaeb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0);
  }
}

.hero {
  background-color: $navy;
  color: $cream;
  padding: 4rem;
  padding-bottom: 8rem;

  .flex-wrap {
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;

    .text {
      flex: 1;
      padding-right: 8px;
    }

    .skull {
      img {
        width: 280px;
        border-radius: 10%;
        animation: float 6s ease infinite;
      }

      @media all and (max-width: 960px) {
        img {
          width: 180px;
          margin: 0 auto;
        }
      }
      @media all and (max-width: 740px) {
        img {
          animation: none;
        }
      }
    }
  }

  @media all and (max-width: 760px) {
    .flex-wrap {
      flex-direction: column;
    }

    .skull {
      padding-top: 3rem;
      text-align: right;
    }
  }
}
.index_poems {
  position: relative;
  top: -80px;
}

.poem_card {
  @extend %card;
}

// Forms

.form_backdrop {
  padding: 2rem 0;
  background-color: $cream;
  height: 100%;
}

.form {
  @extend %card;
  margin: 0rem auto;
  // text-align: center;
  background-color: $navy;
  max-width: 600px;

  h2 {
    color: $cream;
    text-align: center;
  }

  label {
    text-align: left;
    color: $cream;
  }

  %input {
    display: block;
    margin: 1rem auto;
    padding: 0.5rem;
    width: calc(100% - 4rem);
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid $navy;
    font-family: $font-stack;
  }

  input {
    @extend %input;
  }

  textarea {
    @extend %input;
    resize: none;
    margin-bottom: 2rem;
  }

  input::placeholder {
    font-family: $font-stack;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0px 0px 5px $cream;
    outline: none;
  }

  button {
    display: block;
    font-family: $font-stack;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    background-color: $red;
    color: $cream;
    border: none;
    border-radius: 5px;
    margin: 1rem auto;
  }
}

.alert {
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: $red;
  color: $cream;
  margin: 1rem auto;
}
