$navy: #1a222e;
$cream: #e9eaeb;
$red: #fe5a50;
$font-stack: 'Raleway', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  background-color: $cream;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #00b7ff;
}

h1 {
  font-style: italic;
  text-shadow: 1px 2px 0 $red;
  font-weight: 700;
}

.breaker {
  height: 20rem;
}

nav {
  background-color: $navy;

  .container {
    display: flex;
    color: $cream;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 90%;
    margin: 0 auto;

    .hamburger {
      display: none;
    }
  }
}

nav a {
  color: white;
  text-decoration: none;
}

h4 {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;

  li {
    display: inline-block;
    padding: 0 0.5rem;
  }

  .login {
    display: inline-block;
    background-color: $red;
    color: #e9eaeb;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }
}

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0);
  }
}

.hero {
  background-color: $navy;
  color: $cream;
  padding: 4rem;
  padding-bottom: 8rem;

  .flex-wrap {
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;

    .text {
      flex: 1;
      padding-right: 8px;
    }

    .skull {
      img {
        width: 280px;
        border-radius: 10%;
        animation: float 6s ease infinite;
      }

      @media all and (max-width: 960px) {
        img {
          width: 180px;
          margin: 0 auto;
        }
      }
      @media all and (max-width: 740px) {
        img {
          animation: none;
        }
      }
    }
  }

  @media all and (max-width: 760px) {
    .flex-wrap {
      flex-direction: column;
    }

    .skull {
      padding-top: 3rem;
      text-align: right;
    }
  }
}
.poems {
  position: relative;
  top: -80px;
}
.poem_card,
.form {
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem auto;
  background-color: #fff;
  width: 70vw;
}

// Forms

.form_backdrop {
  padding: 2rem 0;
  background-color: $cream;
  height: 100%;
}

.form {
  margin: 0rem auto;
  text-align: center;
  background-color: $navy;
  max-width: 600px;

  h2 {
    color: $cream;
  }

  input {
    margin: 1rem;
    padding: 0.5rem;
    width: calc(100% - 4rem);
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid $navy;
    font-family: $font-stack;
  }

  input::placeholder {
    font-family: $font-stack;
  }

  input:focus {
    box-shadow: 0px 0px 5px $cream;
    outline: none;
  }

  button {
    font-family: $font-stack;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    background-color: $red;
    color: $cream;
    border: none;
    border-radius: 5px;
    margin: 1rem 0;
  }
}

.alert {
  width: 80%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: $red;
  color: $cream;
  margin: 0 auto;
  margin-bottom: 1rem;
}
